@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 175%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #Elv,
  #footer {
    width: 175%;
  }

  #portfolio {
    padding: 10px;
    width: 115%;
    margin-left: 92px;
  }
}
