@media screen and (max-width: 400px) {
  #about,
  #services,
  #testimonials,
  #contact,
  #Elv,
  #footer {
    width: 175%;
  }

  #portfolio {
    padding: 10px;
    width: 115%;
    margin-left: 110px;
  }

  #header {
    margin-left: 42px;
  }
}
